.example-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.example-full-width {
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}
.subtasks{
    display: flex;
    flex-direction: column;
}