<mat-expansion-panel class="assigned" (opened)="panelOpen = true" (closed)="panelOpen = false">
    <mat-expansion-panel-header class="assignedHeader">
        <mat-panel-description>
            Assigned to:
        </mat-panel-description>
    </mat-expansion-panel-header>
    <section class="users-container" [formGroup]="usersCheckedForm">
        <div class="users" *ngFor="let user of us.allUsers; let i=index">
            <mat-checkbox (click)="userForm.addDeleteUser(user,i,usersCheckedForm,'checked' + i )"
                [formControlName]="'checked' + i">{{user.username}}
            </mat-checkbox>
        </div>
    </section>
</mat-expansion-panel>