.summaryContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 3%;
}

.example-card {
    margin: 20px;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftSubDiv {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}



.dateCard {
    height: 25%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding: 10px;
}



p {
    font-size: 3vmin;
}

.dateCard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    .taskNumber {
        margin-top: 10px;
    }

    .vertLine {
        height: 80%;
        width: 2px;
        background-color: gray;
    }
}

.welcomeContainer {
    h1 {
        font-size: 45px;
        color: #8531A9
    }

    h2 {
        font-size: 40px;
        color: #d2c4c4;
    }
}



@keyframes backgroundFade {
    0% {
        background-color: rgba(42, 54, 71, 1);
    }

    100% {
        background-color: rgba(42, 54, 71, 0);
    }
}

@keyframes removePosition {
    0% {
        position: absolute;
    }

    100% {
        position: unset;
    }
}

.welcomeGreeting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    animation: greetingPostition 1000ms ease-in-out 1000ms;
    animation-fill-mode: forwards;
    height: 20%;

    h1 {
        font-size: 5vmin;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 5vmin;
    }
}

@keyframes greetingPostition {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        color: #2A3647;
        transform: translate(80%, -40%);
    }
}

@media(max-width:1100px) {
    .leftSubDiv {
        width: unset;
    }

    .dateCard {
        flex-grow: 1;
        margin-right: 20px;
        margin-left: 0;
    }

    .welcomeGreeting {
        top: 18%;
        left: 55%;
        animation: none
    }
}

@media (max-width: 500px) {
    .example-card {
        height: unset
    }
    .dateCard {
        height: unset
    }
}