<div class="summaryContainer">
    <div class="leftSubDiv">
        <mat-card *ngFor="let task of tasks" class="example-card">
            <mat-card-content>
                <p>{{task.title}}</p>
                <p>{{task.tasks.length}}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <mat-card class="dateCard">
        <p>{{today}}</p>
        <div class="taskNumber">
            <p *ngIf="ts.allTasks.length>1">{{ts.allTasks.length}} Tasks</p>
            <p *ngIf="ts.allTasks.length===1">{{ts.allTasks.length}} Task</p>
        </div>
    </mat-card>

    <div class="welcomeContainer welcomeGreeting">
        <h1>Welcome </h1>
        <h2>{{getLoggedUser()}}</h2>
    </div>
</div>