.taskCard{
    margin-top: 15px;
}
.taskContent {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    span {
        margin-right: 5px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 16px;
        padding: 5px 10px;
    }
}

.low {
    background-color: green;
}

.middle {
    background-color: rgb(245, 229, 7);
}

.urgent {
    background-color: rgb(128, 0, 0);
}

.urgency {
    color: white !important;
    border-radius: 10px;
    padding: 5px
}