.example-spacer {
    flex: 1 1 auto;
}


.example-container {
    border: 1px solid rgba(198, 192, 192, 0.5);
    height: calc(98.7vh - var(--mat-toolbar-mobile-height));
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.hrefs {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.overflowHidden {
    overflow-y: hidden !important;
}

.sideNavDiv {
    height: inherit;
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 50px;
    }
}

.colorPickers {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}

.colorPicker {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 15px;
    z-index: 200;
}
.logo{
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(174deg) brightness(101%) contrast(100%);
}

