.example-spacer {
    flex: 1 1 auto;
}


.example-container {
    border: 1px solid rgba(198, 192, 192, 0.5);
    height: calc(98.6vh - var(--mat-toolbar-mobile-height));
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.hrefs {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.notice {
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.overflowHidden {
    overflow-y: hidden !important;
}

mat-panel-description {
    font-size: 1.1em;
}

mat-drawer.mat-drawer.example-sidenav.navContainer.mat-drawer-side.ng-tns-c3519248442-0.ng-trigger.ng-trigger-transform.mat-drawer-opened {
    padding: 20px 0 0 0;
    min-width: 15%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* .mat-drawer-inner-container {
    display: contents;
    overflow: hidden !important;
} */



.sideNavDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;

}

a {
    text-align: center;
    margin-bottom: 50px;
    padding: 25px;
}

.colorPickers {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
}

.colorPicker {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 15px;
    z-index: 200;
}

.logo {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(174deg) brightness(101%) contrast(100%);
}

.material-symbols-outlined {
    cursor: pointer;
}

.profileAndLogout {
    display: flex;
    align-items: center;
    position: relative;
}

.profileIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #424242;
    color: #8531A9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: 15px;
    cursor: pointer;
}

@media((min-width:2400px) and (max-width:4000px)) {

    mat-panel-description {
        font-size: 26px;
        font-weight: 100;

        span {
            height: 100%;
        }
    }

    .sideNavDiv {

        a {
            font-size: 35px;
            padding: 45px;
        }
    }
}

@media(max-width:600px) {
    mat-drawer.mat-drawer.example-sidenav.navContainer.mat-drawer-side.ng-tns-c3519248442-0.ng-trigger.ng-trigger-transform.mat-drawer-opened {
        width: 100%;
    }

    .header {
        display: none;
    }
}