.mainDiv {
    margin: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}


.example-container {
    height: 300px;
    border: 1px solid rgba(198, 192, 192, 0.5);
    height: 100%;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.hrefs {
    color: white;
    font-size: 22px;
    text-decoration: none;
}