<div class="boardContainer">
    <div *ngFor="let task of ts.allTasks" class="mainDiv">
        <app-task-card [task]="task" (click)="openDialog('0ms', '0ms', task )"></app-task-card>
    </div>
    <div *ngFor="let task of ts.allTasks" class="mainDiv">
        <app-task-card [task]="task" (click)="openDialog('0ms', '0ms', task )"></app-task-card>
    </div>
    <div *ngFor="let task of ts.allTasks" class="mainDiv">
        <app-task-card [task]="task" (click)="openDialog('0ms', '0ms', task )"></app-task-card>
    </div>
    <div *ngFor="let task of ts.allTasks" class="mainDiv">
        <app-task-card [task]="task" (click)="openDialog('0ms', '0ms', task )"></app-task-card>
    </div>
</div>