.boardContainer {
    display: flex;
    overflow-x: hidden;
}

.subDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    margin: 10px;
}

@media(max-width:900px) {
    .boardContainer {
        flex-direction: column;
    }

    .subDiv {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}