.urgencies {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 80%;
}

.urgency {
    border-radius: 20px;
    width: 30%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgGreen {
    background-color: rgb(14, 103, 4);
}

.bgYellow {
    background-color: rgb(165, 157, 3);
}

.bgRed {
    background-color: rgb(148, 1, 1);
}