.form {
    overflow-y: hidden;
    display: flex;
    width: 90%;
    gap: 50px;
    justify-items: center;
    height: 75%;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    display: none;
}

.subdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form>* {
    width: 95%;
}



app-priorities {
    display: flex;
    align-items: center;
    cursor: pointer;

}

app-category {
    position: relative;
}

.addTaskContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtaskAndPlus {
    display: flex;

    span {
        margin-top: -8px;
    }
}

.addedSubtasks {
    display: flex;
    justify-content: space-between;
}

.addButton {
    height: 56px;
}

@media((min-width:2400px) and (max-width:4000px)) {
    input {
        font-size: 30px !important;
    }

    .subdiv>* {
        min-height: 165px;
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    mat-label {
        font-size: 30px;
    }

    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
        align-items: center;
    }
}

@media(max-width:800px) {
    form {
        flex-direction: column;
        height: 90% !important;
        overflow-y: auto !important;
        gap: 20px !important;

        .subdiv {
            gap: 20px
        }

        .subtasks {
            margin-top: 0px;
        }
    }


}