<div class="addTaskContainer">
    <form [formGroup]="addTaskForm" class="form" (ngSubmit)="addTask()">
        <div class="subdiv">
            <mat-form-field class="form-field">
                <mat-label>Title</mat-label>
                <input type="text" formControlName="title" matInput>
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Description</mat-label>
                <input type="text" formControlName="description" matInput>
            </mat-form-field>

            <app-category [task]="task"></app-category>

            <app-assign-users [task]="task"></app-assign-users>

        </div>
        <div class="subdiv">
            <mat-form-field class="form-field" class="date">
                <mat-label>Due date</mat-label>
                <input formControlName="date" type="date" name="description" matInput>
            </mat-form-field>

            <app-priorities (priorityEmitter)="addPriority($event)"></app-priorities>

            <mat-form-field class="form-field subtasks">
                <mat-label>Subtasks</mat-label>
                <div class="subtaskAndPlus">
                    <input type="text" name="subtask" formControlName="subtasks" matInput>
                    <span (click)="addSubtask()" class="material-symbols-outlined">
                        add
                    </span>
                </div>
                <div class="addedSubtasks" *ngFor="let subtask of subtasks; let i=index">
                    <span>{{subtask.text}}</span>
                    <span class="material-symbols-outlined" (click)="deleteSubtask(i)">
                        close
                    </span>
                </div>
            </mat-form-field>

            <button class="addButton" mat-raised-button color="primary"
                [disabled]="!this.task.priority || !addTaskForm.valid || !task.category.name || 
                task.category.name.trim() === ''">
                Add task</button>
        </div>
    </form>
</div>