.categoryWidth {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 100%;
}

.newCategoryDiv {
    width: 100%;
    height: 100%;
}

mat-expansion-panel {
    z-index: 20;
}

app-category-color-pickers {
    position: absolute;
    bottom: -18px;
    left: 0
}

button {
    cursor: pointer;
}

.catDiv {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    cursor: pointer;

    .categoryColorDiv {
        height: 15px;
        width: 15px;
        border-radius: 50%;
    }
}

.newCat {
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.inputContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.red-input {
    color: red;
}

.form-field {
    height: 100%;
    width: 100%;
}

.inputDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5px;
}

.createdCategory {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    min-height: 56px;
    position: relative;
    div {
        display: flex;
        align-items: center;

        div {
            margin-left: 10px;
        }
    }
}

.category {
    height: 56px !important;
}

mat-content {
    height: 100%;
}

@media((min-width:2400px) and (max-width:4000px)) {
    .createdCategory {
        font-size: 30px !important;
    }

    .newCat {
        font-size: 26px;
    }

    .catDiv {
        font-size: 26px;
    }
}